<section id="education">
    <div class="container">
        <mat-card class="education-title">
      <h2>Education</h2>
    </mat-card>
      <div class="row">
        <mat-card class="education-mat">
        <div class="col-md-6">
          <div class="education-block">
            <img src="../../assets/img/UNER.jpg" height="90">
            <h3>Bachelor of Systems student</h3>
            <p><strong>Universidad de Entre Ríos</strong> - 2020 - present</p>
            <p>Java OOP, Python Computer Architecture, Operative Systems, Algorithms.</p>
          </div>
        </div>
    </mat-card>
    &nbsp;
    <mat-card class="education-mat">
        <div class="col-md-6">
          <div class="education-block">
            <img src="../../assets/img/Logo header.png">
            <h3>Full-stack Developer</h3>
            <p><strong>Argentina Programa 4.0</strong> - May 2023</p>
            <p>HTML, CSS, JS, Angular, Java, DevOps, Databases, FrontEnd, BackEnd</p>
          </div>
        </div>
    </mat-card>
      </div>
    </div>
  </section>
  