#about {
    background-color: rgb(88,88,88);
    padding: 30px 0;
    text-align: center;
    color:#FCBE11;
  }

  #about h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  p{
    text-align: left;
    margin-left: 10px;
    color:#6cf788;
    text-indent: 1em;
    margin: 35px;
    padding-left:30px;
    
  }