<section id="about">
    <div class="container">
    <h2>About me</h2>
    <p>Hey there! I'm {{persona.nombre}}, a CS Bachelor student with a passion for all things related to computers. When I'm not studying, I spend time learning and doing courses to improve my knowledge on software engineering and web development, but what really drives me is the challenge of solving complex problems in the IT field. Whether it's troubleshooting an issue with a piece of hardware, or optimizing a software application, I'm always eager to tackle challenges and find creative solutions.</p>
</div>
</section>