&nbsp;
<div class="wrapper">
<section id="Contact">
    <h2>Mensajes</h2>
    <button mat-button routerLink="">Volver atrás</button>
    <tr  *ngFor="let Message of contact">
        <mat-card class="skill-card" *ngIf="isLogged">
            <div class="skills-block">
                <h3>{{Message.email}}</h3>
                <p><strong>{{Message.message}}</strong></p>
            </div>
            <button mat-button (click)="delete(Message.id)" *ngIf="isLogged">Borrar mensaje</button>        
        </mat-card>
    </tr>
</section>
</div>
&nbsp;