<div class="container" *ngIf="person">
    <div class="row">
        <div class="div">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">background image</label>
                    <input type="file" (change)="uploadImage($event)" class="form-control" id="image" name="image" required>
                </div>
            <button mat-button>Edit image</button>
        </form>
        </div>
    </div>
    <div class="image">
        <img [src]="image" width="200">
      </div>
</div>