<body>
  <div class="container" style="--background-image: url({{persona.img}});">
        <mat-card class="secondary-card">
            <mat-card-header>
                <a href="https://github.com/Sebah40/AngularAP4"><img src="../../assets/img/GitHub.png"></a>
              </mat-card-header>
              <mat-card-content>
                <h2>Check my projects</h2>
                <h3>Angular project</h3>
              </mat-card-content>
          </mat-card>
        <mat-card class="main-card">            <mat-card-header>
              <a href="../../assets/Currículum.pdf" download><img src="../../assets/img/Curriculum.png"></a>
            </mat-card-header>
            <mat-card-content>
              <h1>Hello, I am {{persona.nombre}}</h1>
              <h3>Full-Stack Developer</h3>
            </mat-card-content>
          </mat-card>
          
        <mat-card class="tertiary-card">
            <mat-card-header>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlFDbHGNRsLLJfQKTJVclstfjHvlhdZvwqZpvwrJVHKVRNSrBCGLRKnSzHmmSzVrdcGJxV"><img src="../../assets/img/Email.png"></a>
              </mat-card-header>
              <mat-card-content>
                <h2>Contact me</h2>
                <h3>Let's chat</h3>
              </mat-card-content>
        </mat-card>
        <button mat-button routerLink="/editMain/{{persona.id}}" *ngIf="isLogged">Edit image</button>

      </div>
  </body>
