&nbsp;
<section id="skills">
    <h2>Skills</h2>
    <mat-card class="skill-card">
        <h3>Java</h3>
        <div class="spinner-container">
            <mat-spinner mode="determinate" value="{{scrollVariable}}" color="accent" strokeWidth="10"></mat-spinner>
        </div>
    </mat-card>
    <mat-card class="skill-card">
        <h3>ASDASDA</h3>
        <div class="spinner-container">
            <mat-spinner mode="determinate" value="{{scrollVariable}}" color="accent" strokeWidth="10"></mat-spinner>
        </div>
    </mat-card>
</section>
&nbsp;