#skills {
  background-color: rgb(66,66,66);
  padding: 30px 0;
  text-align: center;
  color:#FCBE11;
}


.skill-card {
  margin: 30px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(88,88,88);
}

tr {
  display: block;
  margin: auto;
  text-align: center;
}

table {
  margin: auto;
}

#about h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

p{
  color:#6cf788;
}